<div class="footer">
    <div class="footer-first-row">
        <div class="substack-embed">
        <iframe src="https://buriedsignals.substack.com/embed" width="300" height="90" frameBorder="0" scrolling="no"></iframe>
        </div>
    </div>        
    <div class="footer-social-icons">
        <a href="mailto:tom@buriedsignals.com" class="footer-social-icon">
            <i class="fas fa-envelope"></i>
        </a>
        <a href="https://twitter.com/buriedsignals" class="footer-social-icon" rel="me" target="_blank">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="https://instagram.com/buriedsignals" class="footer-social-icon" rel="me" target="_blank">
            <i class="fab fa-instagram"></i>
        </a>
    </div>            
</div>