<div class="footer">
    <div class="footer-first-row">
        <div class="substack-embed">
        <p>Sign up for my newsletter</p>
        <iframe src="https://buriedsignals.substack.com/embed" width="300" height="90" frameBorder="0" scrolling="no"></iframe>
        </div>
        <div class="footer-right">
        <a href="mailto:tom.vaillant@icloud.com">tom.vaillant@icloud.com</a>
        </div>
    </div>
    <div class="footer-second-row">
        <div class="footer-slogan">
        <span>Visual experiments in journalism and fiction.</span>
        </div>
        <div class="footer-social-icons">
            <a href="https://twitter.com/buriedsignals" class="footer-social-icon" rel="me" target="_blank">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://mamot.fr/@buriedsignals" class="footer-social-icon" rel="me" target="_blank">
                <i class="fab fa-mastodon"></i>
            </a>        
            <a href="https://www.linkedin.com/in/tomvaillant" class="footer-social-icon" rel="me" target="_blank">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/buriedsignals" class="footer-social-icon" rel="me" target="_blank">
                <i class="fab fa-github"></i>
            </a>
        </div>            
    </div>
</div>