body {
    font-family: "Cardo";
    margin: 0 0;
    a {
      text-decoration: none;
      color: #1F75FE;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      &:hover {
        color: #0CAFFF;
      }
    }
}

.page-content {
  min-height: calc(100vh - 165px);
}

.page-wrapper {
  width: 65%;
  margin: 10px auto 50px auto;
  h1 {
    text-align: center;
    padding-bottom: 30px;
  }
}

.post-wrapper {
  width: 65%;
  margin: 50px auto 50px auto;
}

.post-title {
  margin-top: 45px;
  margin-bottom: 5px;
}

.post-subtitle {
  margin-top: 5px;
}

.pro-truth-logo {
  margin-top: 50px;
  text-align: center;
}