body {
    font-family: "Cardo";
    margin: 0 0;
    a {
      text-decoration: none;
      color: inherit;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
}


// PAGES

.post-content {
  min-height: 100vh;
}

.page-content {
  min-height: calc(100vh - 250px);
}

.page-wrapper {
  width: 70%;
  text-align: center;
  padding-top: 100px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 65px;
}

.page-wrapper p {
  font-size: 22px;
  line-height: 1.4em;
  text-align: justify;
}

.page-wrapper li {
  font-size: 22px;
  line-height: 1.8;
  text-align: left;
}

.page-wrapper h1 {
  font-weight: 400;
  // text-decoration: underline;
  font-size: 32px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
  line-height: 1.6em;
}

.page-wrapper h3 {
  font-size: 34px;
  font-weight: 500;
  text-align: left;
}

.page-wrapper h2 {
  text-align: left;
  font-size: 28px;
}

// POSTS
.post-wrapper {
  width: 65%;
  margin: 50px auto 50px auto;
  p {
    font-size: 18px;
  }
}

.page-wrapper p a {
  font-weight: bold;
  color: #1F75FE;
}

.post-title {
  margin-top: 45px;
  margin-bottom: 5px;
}

.post-subtitle {
  margin-top: 5px;
}

.pro-truth-logo {
  margin-top: 50px;
  text-align: center;
}

.idyll-wrapper {
  width: 100%;
  position: relative;
}

.idyll-iframe {
  position: absolute;
  border: none;
  top:0;
  left:0;
  width:100%;
  min-height: calc(100vh);
}

// MEDIA QUERIES

@media only screen and (max-width: 600px) { 
  .navbar-logo a {
    font-size: 22px;
  }

  .page-content {
    min-height: calc(100vh - 200px);
  }

  #d3-header {
    display: none;
  }

  .page-wrapper {
    width: 85%;
    margin: 25px auto 50px auto;
    padding-top: 25px;
    h1 {
      padding-bottom: 0;
      font-size: 22px;
      text-align: left;
    }
  }

  .page-wrapper h3 {
    font-size: 28px;
  }

  .page-wrapper h2 {
    font-size: 26px;
  }

  .page-wrapper p {
    font-size: 20px;
  }

  .page-wrapper li {
    font-size: 20px;
  }

  .post-wrapper {
    width: 85%;
  }

  .article h2 {
    font-size: 22px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 800px)  { 
  .page-wrapper {
    width: 75%;
  }
  .post-wrapper {
    width: 75%;
  }
}

@media screen and (min-width: 1400px) {
  .page-wrapper {
    width: 50%;
  }
  .post-wrapper {
    width: 50%;
  }
}