.navbar-container {
display: flex;
justify-content: space-between;
align-items: center;
padding: 15px 20px;
}

.navbar-logo {
margin-left: 20px;
a {
text-decoration: none;
color: black;
font-size: 25px;
position: relative;
    span {
        color: #0CAFFF;
        font-size: 28px;
    }
}
}

.navbar-logo a:hover:after {
width: 100%;
}

.navbar-logo a:after {
background: #00538C;
transition: .35s;
}

.navbar-right {
display: inline-flex;
margin-right: 30px;
width: 170px;
justify-content: space-between;
align-items: center;
}

.navbar-right li {
    list-style: none;
}

.navbar-right a, .navbar-right svg {
height: 35px;
color: black;
width: 20px;
text-decoration: none;
}

@media screen and (max-width: 480px) {
    .mobile-cancel {
        display: none;
    }
    .navbar-right {
        width: 80px;
        justify-content: space-between;
        margin-right: 20px;
    }
}