.navbar-container {
display: flex;
justify-content: space-between;
align-items: center;
padding: 15px 20px;
}

.navbar-logo {
margin-left: 20px;
a {
text-decoration: none;
color: black;
font-size: 25px;
position: relative;
    span {
        color: #0CAFFF;
        font-size: 28px;
    }
}
}

.navbar-logo a:hover:after {
width: 100%;
}

.navbar-logo a:after {
background: #00538C;
transition: .35s;
}

.navbar-right {
display: inline-flex;
align-items: center;
}

.navbar-right li {
    list-style: none;
}

.navbar-right a {
    color: black;
    text-decoration: none;
    margin-right: 40px;
    font-size: 20px;
}

.navbar-right svg {
    height: 35px;
    width: 20px;
}

@media screen and (max-width: 480px) {
    .mobile-cancel {
        display: none;
    }
}