<!doctype html>
<html lang="en">

{% include head.html %}
<body>
    {% include navbar.html %} 
    <div class="post-content">
    {% if page.idyll == true %}
        <div class="idyll-wrapper">
            {{ content }}
        </div>
    {% else %}
        <div class="post-wrapper">
            <h1 class="post-title">{{ page.title }}</h1>
            <div class="post-subtitle">{{ page.date | date: "%-d %B %Y" }}, in collaboration with {{ page.contributor }}.</div>
            {{ content }}
        </div>
    {% endif %}
    </div>    
    {% include footer.html %} 
</body>
</html>

